.img{
    width: 100%;
    height: 70vh;
    background-image: url(./ai-generated-7483596_960_720.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
